.tree--apps_link {
    display: none;
}

body:has(#familyTreeApps-tab.active) {

    /*
    #nav-familyContent ~ *, #subfooter, footer {
        display: none
    }
    */

    #familyTreeApps {
        height: 30vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        resize: both;
    }

}
