.tree--apps_link {
    display: none;
}

body.profile :has(#slippyInline.active) {

    /*
    #nav-familyContent ~ *, #subfooter, footer {
        display: none
    }
    */

    #slippyInline {
        height: 30vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        resize: vertical;
    }

}
